*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Georgia;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#ffe8ef;

overflow:hidden;

}

#overlay{

position:fixed;

width:100%;

height:100%;

background:black;

display:flex;

justify-content:center;

align-items:center;

z-index:10;

animation:fadeOut 3s forwards;

}

.best{

color:white;

font-size:50px;

}

@keyframes fadeOut{

0%{opacity:1;}

80%{opacity:1;}

100%{

opacity:0;

visibility:hidden;

}

}

#envelopeContainer{

text-align:center;

position:absolute;

}

.envelope{

font-size:120px;

cursor:pointer;

transition:.4s;

}

.envelope:hover{

transform:scale(1.2);

}

#card{

display:none;

width:650px;

background:white;

padding:50px;

border-radius:20px;

text-align:center;

box-shadow:0 0 30px pink;

}

#card h1{

color:#ff1493;

margin-bottom:20px;

}

#card p{

font-size:22px;

margin:20px;

line-height:35px;

}

button{

margin-top:30px;

padding:15px 35px;

font-size:20px;

background:#ff1493;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}