*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:black;

color:white;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

}

#loadingScreen{

position:absolute;

text-align:center;

}

.loader{

margin:20px auto;

width:90px;

height:90px;

border:8px solid #555;

border-top:8px solid hotpink;

border-radius:50%;

animation:spin 1s linear infinite;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}

#loadingText{

margin-top:20px;

font-size:22px;

}

#loginContainer{

display:none;

}

.card{

background:white;

color:black;

padding:40px;

border-radius:15px;

width:350px;

text-align:center;

box-shadow:0 0 25px hotpink;

}

.card h2{

margin-bottom:10px;

}

input{

width:100%;

padding:12px;

margin:10px 0;

font-size:16px;

}

button{

padding:12px;

width:100%;

background:hotpink;

color:white;

border:none;

font-size:18px;

cursor:pointer;

border-radius:8px;

}

button:hover{

background:#ff1493;

}