*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(#ff9ec4,#ff5c8d);
overflow:hidden;

}

.container{

text-align:center;

}

.title{

font-size:55px;
color:white;
margin-bottom:40px;
text-shadow:0 0 20px white;

}

.ring{

width:180px;
animation:float 2s infinite alternate;

}

.question{

margin-top:30px;
font-size:40px;
color:white;

}

#yesBtn{

margin-top:50px;
padding:18px 45px;
font-size:28px;
border:none;
border-radius:50px;
cursor:pointer;
background:white;
color:#ff4081;
font-weight:bold;
transition:.3s;

}

#yesBtn:hover{

transform:scale(1.1);

}

@keyframes float{

from{

transform:translateY(0px);

}

to{

transform:translateY(-20px);

}

}