*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#ff758c,#ff7eb3);

overflow:hidden;

}

.container{

width:700px;

height:450px;

background:white;

border-radius:25px;

text-align:center;

padding:40px;

position:relative;

box-shadow:0 0 25px rgba(0,0,0,.3);

}

h1{

color:#ff1493;

margin-bottom:20px;

}

.subtitle{

font-size:22px;

margin-bottom:20px;

}

#funnyText{

color:#ff1493;

height:40px;

margin-bottom:40px;

}

.buttonArea{

position:relative;

width:100%;

height:180px;

}

button{

border:none;

cursor:pointer;

border-radius:10px;

font-size:22px;

transition:.3s;

}

#yesBtn{

background:#28a745;

color:white;

width:170px;

height:65px;

position:absolute;

left:150px;

top:60px;

}

#noBtn{

background:#dc3545;

color:white;

width:170px;

height:65px;

position:absolute;

left:380px;

top:60px;

}